<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CodeHubt Login</title>
    <link rel="stylesheet" th:href="@{/ClientStatic/css/login.css}">
</head>

<body>
<div class="main">
    <h1>CodeHubt</h1>
    <h2>Login</h2>
    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"
               placeholder="Enter your Username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"
               placeholder="Enter your Password" required>

        <div class="wrap">
            <button type="submit" id="submitBtn">
                <span class="button-text">Submit</span>
                <span class="spinner"></span>
            </button>
        </div>
    </form>

    <p>Not registered?
        <a th:href="@{/register}" style="text-decoration: none;">
            Create an account
        </a>
    </p>
</div>

<!-- Định nghĩa apiBaseUrl trước khi gọi login.js -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var apiBaseUrl = /*[[${@environment.getProperty('api.base.url')}]]*/ "http://localhost:3000";
    /*]]>*/
</script>

<script th:src="@{/ClientStatic/js/login.js}"></script>

</body>

</html>
