<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Trang chủ</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/ClientStatic/css/base.css}" />
    <link rel="stylesheet" th:href="@{/ClientStatic/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/ClientStatic/css/header.css}" />
    <link rel="stylesheet" th:href="@{/ClientStatic/css/home.css}" />
<!--    <link rel="stylesheet" th:href="@{/ClientStatic/css/style.css}" />-->
  </head>
  <body>
    <div class="page-wrapper">
      <div th:replace="~{ClientTemplates/layout/header :: header}"></div>
      <div class="section-one">
        <div class="inner-wrap">
          <div class="inner-title">
            HUBT Become A Better <br />
            Developer
          </div>
          <div class="inner-desc">
            Code-HUBT là Trường Đại Học cung cấp những khóa học chất lượng cao về
            lập trình với mục tiêu lớn nhất là giúp các bạn sinh viên IT phát
            triển kiến thức, sự nghiệp !
          </div>
          <div class="inner-button">
            <div class="button button-one">Các Khoá Học</div>
            <div class="button button-two">Đăng Ký Ngay</div>
          </div>
        </div>
      </div>
      <div class="section-two">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="box-head">
                <div class="inner-title">Khóa Học Tại HUBT</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-6 col-12">
              <div class="course-card">
                <div class="inner-image">
                  <a href=""
                  ><img
                          src="https://cdn-main.28tech.com.vn/thumbs/anh-khoa-hoc/anh_dai_dien_khoa_hoc/new/c%C6%A1%20s%E1%BB%9F%20d%E1%BB%AF%20li%E1%BB%87u%20v%C3%A0%20sql_thumb_500.png"
                          alt=""
                  /></a>
                </div>
                <div class="inner-content">
                  <div class="inner-assess">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p>(120 Đánh Giá)</p>
                  </div>
                  <div class="inner-title">Cơ Sở Dữ Liệu Và SQL</div>
                  <div class="inner-info">
                    <img
                            src="https://th.bing.com/th/id/OIP.x0GBD5wzzx3MV8mdcuCojwHaKV?w=211&h=295&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2"
                            alt=""
                    />
                    <div class="inner-owner">Đội Ngũ HUBT</div>
                  </div>
                  <div class="inner-price">
                    <div class="price-new">2,400,000<span>đ</span></div>
                    <div class="price-old">6,000,000<span>đ</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-6 col-12">
              <div class="course-card">
                <div class="inner-image">
                  <a href=""
                  ><img
                          src="https://cdn-main.28tech.com.vn/thumbs/anh-khoa-hoc/anh_dai_dien_khoa_hoc/new/c%C6%A1%20s%E1%BB%9F%20d%E1%BB%AF%20li%E1%BB%87u%20v%C3%A0%20sql_thumb_500.png"
                          alt=""
                  /></a>
                </div>
                <div class="inner-content">
                  <div class="inner-assess">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p>(120 Đánh Giá)</p>
                  </div>
                  <div class="inner-title">Cơ Sở Dữ Liệu Và SQL</div>
                  <div class="inner-info">
                    <img
                            src="https://th.bing.com/th/id/OIP.x0GBD5wzzx3MV8mdcuCojwHaKV?w=211&h=295&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2"
                            alt=""
                    />
                    <div class="inner-owner">Đội Ngũ HUBT</div>
                  </div>
                  <div class="inner-price">
                    <div class="price-new">2,400,000<span>đ</span></div>
                    <div class="price-old">6,000,000<span>đ</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-6 col-12">
              <div class="course-card">
                <div class="inner-image">
                  <a href=""
                  ><img
                          src="https://cdn-main.28tech.com.vn/thumbs/anh-khoa-hoc/anh_dai_dien_khoa_hoc/new/c%C6%A1%20s%E1%BB%9F%20d%E1%BB%AF%20li%E1%BB%87u%20v%C3%A0%20sql_thumb_500.png"
                          alt=""
                  /></a>
                </div>
                <div class="inner-content">
                  <div class="inner-assess">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p>(120 Đánh Giá)</p>
                  </div>
                  <div class="inner-title">Cơ Sở Dữ Liệu Và SQL</div>
                  <div class="inner-info">
                    <img
                            src="https://th.bing.com/th/id/OIP.x0GBD5wzzx3MV8mdcuCojwHaKV?w=211&h=295&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2"
                            alt=""
                    />
                    <div class="inner-owner">Đội Ngũ HUBT</div>
                  </div>
                  <div class="inner-price">
                    <div class="price-new">2,400,000<span>đ</span></div>
                    <div class="price-old">6,000,000<span>đ</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-6 col-12">
              <div class="course-card">
                <div class="inner-image">
                  <a href=""
                  ><img
                          src="https://cdn-main.28tech.com.vn/thumbs/anh-khoa-hoc/anh_dai_dien_khoa_hoc/new/c%C6%A1%20s%E1%BB%9F%20d%E1%BB%AF%20li%E1%BB%87u%20v%C3%A0%20sql_thumb_500.png"
                          alt=""
                  /></a>
                </div>
                <div class="inner-content">
                  <div class="inner-assess">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p>(120 Đánh Giá)</p>
                  </div>
                  <div class="inner-title">Cơ Sở Dữ Liệu Và SQL</div>
                  <div class="inner-info">
                    <img
                            src="https://th.bing.com/th/id/OIP.x0GBD5wzzx3MV8mdcuCojwHaKV?w=211&h=295&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2"
                            alt=""
                    />
                    <div class="inner-owner">Đội Ngũ HUBT</div>
                  </div>
                  <div class="inner-price">
                    <div class="price-new">2,400,000<span>đ</span></div>
                    <div class="price-old">6,000,000<span>đ</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-three">
        <div class="container">
          <div class="row">
            <div class="col-xl-5">
              <div class="inner-image">
                <img
                        src="https://cdn-main.28tech.com.vn/media/anh-khoa-hoc/lo_trinh_khoa_hoc/dai_dien1.png"
                        alt=""
                />
                <div class="inner-image-small">
                  <img
                          nh-lazy="image"
                          src="https://cdn-main.28tech.com.vn/media/core/icons/advisor-sm-1.svg"
                          style=""
                  />
                </div>
                <div class="inner-noname">
                  <div class="inner-icon">
                    <i class="fa-solid fa-book-open"></i>
                  </div>
                  <div class="inner-name">HUBT</div>
                </div>
              </div>
            </div>
            <div class="col-xl-7">
              <div class="box-head">
                <div class="inner-title">Về Code-HUBT</div>
              </div>
              <div class="inner-desc">
                Code-HUBT là một đội nhóm gồm các Lập trình viên hiện đang làm việc ở
                nhiều lĩnh vực khác nhau nhưng có chung niềm đam mê với giảng dạy
                và chia sẻ kiến thức.
              </div>
              <div class="inner-desc">
                Code-HUBT luôn cố gắng đổi mới, trau dồi kỹ năng, đón nhận đóng góp,
                khắc phúc những điểm chưa tốt để mang đến cho các bạn học viên
                những khóa học lập trình với chất lượng cao nhất
              </div>
              <div class="inner-detail">
                <div class="inner-icon">
                  <i class="fa-regular fa-circle-check"></i>
                </div>
                <div class="inner-title">Giảng viên giàu kinh nghiệm</div>
              </div>
              <div class="inner-detail">
                <div class="inner-icon">
                  <i class="fa-regular fa-circle-check"></i>
                </div>
                <div class="inner-title">Bài giảng và bài tập chất lượng</div>
              </div>
              <a href="">
                <div class="button-course">
                  <p>Danh Sách Khoá Học</p>
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div th:replace="~{ClientTemplates/layout/footer :: footer}"></div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
