<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>CodeHubt - Bài tập</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/ClientStatic/css/Practice.css}">
    <link rel="stylesheet" th:href="@{/ClientStatic/css/base.css}">
    <link rel="stylesheet" th:href="@{/ClientStatic/css/footer.css}">
    <link rel="stylesheet" th:href="@{/ClientStatic/css/header.css}">
</head>

<body>
<!-- Header -->
<div th:replace="~{ClientTemplates/layout/header :: header}"></div>
<div class="page-wrapper">
    <div class="section-one">
        <div class="inner-wrap">
            <div class="inner-title">C++</div>
        </div>
    </div>
    <div class="section-two">
        <div class="container">
            <div class="inner-wrap">
                <div class="inner-list">
                    <div class="inner-box">
                        <div class="inner-content">
                            <h3 class="inner-title">Say "Hello World!" With C++</h3>
                            <p>
                                <span>Easy</span>.C++(Basic).Max Score:5,Success Rate:98.61%
                            </p>
                            <p>Practice printing to stdout.</p>
                        </div>
                        <div class="inner-right">
                            <div class="inner-icon"><i class="fa-solid fa-star"></i></div>
                            <a href=""
                            ><div class="button button-one">SolveChallenge</div></a
                            >
                        </div>
                    </div>
                    <div class="inner-box">
                        <div class="inner-content">
                            <h3 class="inner-title">Input and Output</h3>
                            <p>
                                <span>Easy</span>.C++(Basic).Max Score:5,Success Rate:93.88%
                            </p>
                            <p>Practice printing to stdout.</p>
                        </div>
                        <div class="inner-right">
                            <div class="inner-icon"><i class="fa-solid fa-star"></i></div>
                            <a href=""
                            ><div class="button button-one">SolveChallenge</div></a
                            >
                        </div>
                    </div>
                    <div class="inner-box">
                        <div class="inner-content">
                            <h3 class="inner-title">Basic Data Types</h3>
                            <p>
                                <span>Easy</span>.C++(Basic).Max Score:5,Success Rate:80.71%
                            </p>
                            <p>Practice printing to stdout.</p>
                        </div>
                        <div class="inner-right">
                            <div class="inner-icon"><i class="fa-solid fa-star"></i></div>
                            <a href=""
                            ><div class="button button-one">SolveChallenge</div></a
                            >
                        </div>
                    </div>
                </div>
                <div class="inner-right">
                    <div class="inner-status">
                        <h2 class="inner-title">STATUS</h2>
                        <div class="status-checkbox">
                            <label class="checkbox-container">
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                                <span class="label-text">Solved</span>
                            </label>

                            <label class="checkbox-container">
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                                <span class="label-text">Unsolved</span>
                            </label>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="inner-status">
                        <h2 class="inner-title">Skill</h2>
                        <div class="status-checkbox">
                            <label class="checkbox-container">
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                                <span class="label-text">C++ (Intermediate)</span>
                            </label>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="inner-status">
                        <h2 class="inner-title">DIFFICULTY</h2>
                        <div class="status-checkbox">
                            <label class="checkbox-container">
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                                <span class="label-text">Easy</span>
                            </label>
                            <label class="checkbox-container">
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                                <span class="label-text">Medium</span>
                            </label>
                            <label class="checkbox-container">
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                                <span class="label-text">Hard</span>
                            </label>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="inner-status">
                        <h2 class="inner-title">SUBDOMAINS</h2>
                        <div class="status-checkbox">
                            <label class="checkbox-container">
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                                <span class="label-text">Introduction</span>
                            </label>
                            <label class="checkbox-container">
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                                <span class="label-text">Strings</span>
                            </label>
                            <label class="checkbox-container">
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                                <span class="label-text">Classes</span>
                            </label>
                            <label class="checkbox-container">
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                                <span class="label-text">STL</span>
                            </label>
                        </div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Footer -->
<div th:replace="~{ClientTemplates/layout/footer :: footer}"></div>

<script th:src="@{/ClientStatic/js/script.js}"></script>
</div>
</body>
</html>