<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>CodeHubt</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/ClientStatic/css/style.css}">
</head>

<body>
    <!-- Header -->
    <div th:replace="~{ClientTemplates/layout/header :: header}"></div>

    <div class="content-wrapper">
        <div class="container">
          
        </div>
    </div>


    <!-- Footer -->
    <div th:replace="~{ClientTemplates/layout/footer :: footer}"></div>

    <script th:src="@{/ClientStatic/js/script.js}"></script>
</body>

</html>