<!-- header.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header class="header" th:fragment="header">
    <div class="header-content">
        <a th:href="@{/}" class="logo-container nav-item">
            <div class="logo-main">Code</div>
            <div class="logo-sub">Hubt</div>
        </a>
        
        <nav class="main-nav">
            <a th:href="@{/course/show}" class="nav-item">Luyện tập</a>
            <a th:href="@{/contest}" class="nav-item">Cuộc thi</a>
            <a th:href="@{/blog}" class="nav-item">Blog</a>
            <a th:href="@{/magazine}" class="nav-item">Tạp chí</a>
            <a th:href="@{/}" class="nav-item">Về chúng tôi</a>
        </nav>
        

        <div class="user-controls">
            <button class="user-button">
                <i class="fas fa-bell"></i>
            </button>
            <div class="user-profile">
                <span class="username" th:text="${userFullName}">Guest</span>
                <i class="fas fa-user"></i>
            </div>
        </div>
    </div>
</header>