<!-- header.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/ClientStatic/css/header.css}">
<header class="header" th:fragment="header">
    <div class="header-content">
        <a th:href="@{/}" class="logo-container problem-nav-item">
            <div class="logo-main">Code</div>
            <div class="logo-sub">Hubt</div>
        </a>

        <nav class="main-nav">
            <a th:href="@{/course}"
               th:classappend="${activePage != null and activePage.startsWith('/course')} ? 'active'"
               class="problem-nav-item">Khóa học</a>

            <a th:href="@{/practice}"
               th:classappend="${activePage != null and activePage.startsWith('/practice')} ? 'active'"
               class="problem-nav-item">Luyện tập</a>

            <a th:href="@{/contest}"
               th:classappend="${activePage != null and activePage.startsWith('/contest')} ? 'active'"
               class="problem-nav-item">Cuộc thi</a>

            <a th:href="@{/blog}"
               th:classappend="${activePage != null and activePage.startsWith('/blog')} ? 'active'"
               class="problem-nav-item">Blog</a>

            <a th:href="@{/magazine}"
               th:classappend="${activePage != null and activePage.startsWith('/magazine')} ? 'active'"
               class="problem-nav-item">Tạp chí</a>

            <a th:href="@{/about}"
               th:classappend="${activePage != null and activePage.equals('/about')} ? 'active'"
               class="problem-nav-item">Về chúng tôi</a>
        </nav>



        <div class="user-controls">
            <button class="user-button">
                <i class="fas fa-bell"></i>
            </button>
            <div class="user-profile">
                <span class="username" th:text="${userFullName}">Guest</span>
                <i class="fas fa-user"></i>
            </div>
        </div>
    </div>
</header>