<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- problem-nav.html -->
<nav class="problem-nav" th:fragment="problemNav (exercise)">
    <div class="nav-tabs">
        <a th:href="@{'/practice/lesson/problem/' + ${exercise.slug}}" class="nav-tab active">Bài Tập</a>
        <a th:href="@{'/practice/lesson/submissions/' + ${exercise.slug}}" class="nav-tab">Đã nộp</a>
        <a th:href="@{'/practice/lesson/leaderboard/' + ${exercise.slug}}" class="nav-tab">Bảng xếp hạng</a>
        <a th:href="@{'/practice/lesson/tutorial/' + ${exercise.slug}}" class="nav-tab">Hướng dẫn</a>
    </div>
</nav>
